
@{
    ViewBag.Title = "Index";
}

<h2>Consultas por Indicadores</h2>
<div class="container">
    <p>Seleccione el indicador que desea consultar.</p>

    <div class="container">
        <div class="d-flex flex-row">
            <div class="mr-1">
                <button value="rol" class="btn btn-dark" style="background-color: rebeccapurple" onclick="consultaIndicador(this)">Tipo de Rol</button>
            </div>
            <div class="mr-1">
                <button value="lesion" class="btn btn-dark" style="background-color: rebeccapurple" onclick="consultaIndicador(this)">Tipo de Lesión</button>
            </div>
            <div class="mr-1">
                <button value="sexo" class="btn btn-dark" style="background-color: rebeccapurple" onclick="consultaIndicador(this)">Sexo</button>
            </div>
            <div class="mr-1">
                <button value="provincia" class="btn btn-dark" style="background-color: rebeccapurple" onclick="consultaIndicador(this)">Provincias</button>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <div class="row" id="contenedorPrincipal"></div>
        </div>
        <div class="col">
            <div class="row justify-content-xl-center" id="contenedorChart"></div>
        </div>
    </div>

</div>



