
@{
    ViewBag.Title = "Index";
    List<String> indicadores = ViewData["indicadores"] as List<String>;
}

<h2>Consultas por Indicadores</h2>
<div class="container">
    <p>Seleccione el indicador que desea consultar.</p>

    <div class="container">
        <div class="d-flex flex-row">
            @foreach(String indicador in indicadores)
            {
                <div class="mr-1">
                    <button value="@indicador" class="btn btn-dark" style="background-color: rebeccapurple" onclick="consultaIndicador(this)">@indicador</button>
                </div>
            }
        </div>
    </div>

    <br />

    <div class="container-fluid">
        <div class="row" id="contenedorPrincipal"></div>
        <div class="row justify-content-xl-center" id="contenedorChart" style="width:100%"></div>
    </div>

</div>



