<div class="jumbotron">
    <h1>Reporte de Consultas de Accidentes</h1>
    <p class="lead">
        Esta página web fue contruida con el fin de permitirle hacer consultas sobre los accidentes reportados en Costa Rica del 2012 al 2014.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Consultas Personalizadas</h2>
        <p>Esta funcionalidad le permite hacer cualquier tipo de consulta, combinando potenciales filtros
        de modo que puede acceder a todos los datos que desea encontrar.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "ConsultaLibre")">Ir ahí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultas Simples</h2>
        <p>
            En esta sección podrá encontrar un motor de consultas simples.
        </p>
        <p><a class="btn btn-default" >Ir ahí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultas en Tiempo Real</h2>
        <p>
            Con esta funcionalidad se podrán realizar algunas consultas ya definidas con cambios en los datos en tiempo real.
        </p>
        <p><a class="btn btn-default">Ir ahí &raquo;</a></p>
    </div>
</div>
